.loginSocial {
  border-top: 0.01rem solid #00000047;
  width: 100%;
  margin: 1.2rem 0 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 0.9rem;
    margin-right: 0.3rem;
  }
}

.recoverPassword {
  text-align: right;
  font-size: 0.7rem;
  color: #5959d1;
  margin-top: 0.2rem;
  display: block;
  font-weight: 500;
}

.btnSubmit {
  margin-top: 0.5rem;
}

.buttonSocial {
  width: 100%;
  svg {
    position:absolute;
    left: 0.3rem;
  }
}

.button:disabled svg {
  opacity: 0.2;
}

.title {
  color: #434843;
  text-align: center;
  line-height: 2;
}

.formLogin {
  margin: 1rem 0 1rem;
}

.redirectCadastro {
  text-align: center;
  text-decoration: underline;
  display: block;
  margin: 1rem 0;
}